@import url('https://fonts.googleapis.com/css?family=Lato|Pompiere&display=swap');

h1 {
  font-family: Lato;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: center;
}

.title {
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: Pompiere;
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
}

.subtitle {
  padding-left: 4rem;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
}

.dataTable {
  padding: 0 1rem;
}
